section.exit_buffet_img{
    margin-top: 160px;
    min-height: 2260px;
    padding-bottom: 120px;

    .wrapper_img{
        display: flex;
        justify-content: space-between;
        :nth-child(2){
            margin-top: 250px;
        }
    }
    img:hover{
        scale: 1.15;
        transition: 0.5s;
    }
    .last_img{
        margin-top: 140px;
    }
}