.scroll_exit_buffet{
    position: static;
    min-height: 520px;
    margin-top: 80px;
    .exit_buffet_slider_wrapper {
        position: static;
        top: 0;
        margin-left: 130px;
        
        div{
            margin-right: 60px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
       
    }
}