.clients{
    padding: 160px 0 30px;
    min-height: 1437px;
    background-color: #F3F5F8 ;
    &_main_wrapper{
        display: flex;
        justify-content:space-between;
    }
    &_wrapper{
        width: 880px;
        &_title{
            color: $main-color;
            font-size: 40px;
            font-weight: 700;
            line-height: 120%;
        }
        &_img{
            margin-top: 80px;
            margin-bottom: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 61px;
            img:nth-child(1){
                width: 180px;
                height: 50px;
            }
            img:nth-child(2){
                width: 226px;
                height: 36px;
            }
            img:nth-child(3){
                width: 161px;
                height: 42px;
            }
            img:nth-child(4){
                width: 116px;
                height: 61px;
                position: relative;
                top: -7px;
            }
        }
        
    }
    &_subtitle{
        color: $main-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        opacity: 0.8;
    }
    p{
        color:$main-color;
        font-size: 14px;
        font-weight: 300;
        line-height: 170%;
    }
}