.title{
    color: $main-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    opacity: 0.8;
}
.subtitle{
    color: $main-color;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}
.descr{
    color: $main-color;
    font-size: 14px;
    font-weight: 300;
    line-height: 170%; 
}