@media(max-width:320px){
    .header{
    a
        {width: 230px;}
    &__official{
        font-size: 25px;
    }
    &__contacts{
        a{
        font-size: 18px;}
}
}
.promo__header{
    font-weight: 500;
    font-size: 20px;
}
.promo__subheader{
    font-size: 13px;
}

.advantages{
    padding: 50px;
    &__subtitle{
        font-size: 23px;}
    &__descr{
        font-size: 19px;
    }
    
}
.promo__wrapper{
    margin-top: 50px;
}
.promo__icons{
    margin-top: 30px;
}
.promo__icon{
    font-weight: 500;
    font-size: 12px;
}
.consultation{
    min-height: 350px;
    padding: 35px;
    & h2.title_left{
        font-size: 15px;
        text-align: center;
        font-weight: 400;
        line-height: 30px;
    }
    &__descr{
        display: none;
    }
    & form.feed-form{
        width: 250px;
        margin: 30px auto;
    }
}
.catalog__tabs{

       
    li{
       height: 40px;
       font-size: 8px;
       line-height: 39px;
   }}
   .catalog-item {
    width: 235px;}
    












}
