@import 'blocks/variables';
@import 'first/header';
@import 'first/about';
@import 'first/carousel';
@import 'first/slider';
@import 'first/cook';
@import 'first/video_chef';
@import 'first/why_are_we';
@import 'first/clients';
*{
    font-family: 'Lab Grotesque',sans-serif;
}

.container{
    padding: 0;
    width: 1180px;
}