@import 'blocks/variables';
@import 'blocks/application';
@import 'blocks/title';
@import 'first/header';
@import 'first/about';
@import 'first/carousel';
@import 'first/slider';
@import 'first/cook';
@import 'first/video_chef';
@import 'first/why_are_we';
@import 'first/clients';
@import 'first/media';
@import 'first/calc';
@import 'first/footer';
@import 'first/overlay';
@import 'servic/header';
@import 'servic/main';
@import 'exit_buffet/menu';
@import 'exit_buffet/slider';
@import 'exit_buffet/allin';
@import 'exit_buffet/download_menu';
@import 'exit_buffet/img';
@import 'about_us/first_section';
@import 'about_us/values';
@import 'about_us/philosophy';
@import 'about_us/command';
@import 'about_us/form';
*{
    font-family: 'Lab Grotesque',sans-serif;
}

.container{
    padding: 0;
    width: 1180px;
}
i{
    :hover{
        color: black;
        transition: 0.5s
    }
    
}

@import 'media/Laptop';
@import 'media/Tablet';