@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts_cyrl';
@import 'libs/slick';
@import 'libs/animate';
@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';
@import 'blocks/titles';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';


*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    
}
.container{
    max-width: 950px; 
    margin: 0 auto;
}
@import 'media/media_Laptop';
@import 'media/media_tablet';
@import 'media/media_mobile_L';
@import 'media/media_mobile_M';
@import 'media/media_mobile_S';