*{
    box-sizing: border-box;
    margin: 0 auto;
}
header{
    width: 1920px;

}
a.link_header{
    padding-top :23px;
}
.container{
    width: 1456px;
}
.header_link_block{
    float: right;
}
.header_list{
    display: inline;
    font-size: 16px;    
    font-family: Montserrat;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
    
}
.header_list_item{
display: inline;
margin-right: 52px;
}
.link_header{
    float: left;
}
.header_button{
    width: 307px;
    height: 78px;
    padding: 10px 32px;
    background: #003B77;
    float: right;
    color: #FFF;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
    margin-right: 37px;
}

.line{
    height: 1px;
    background: #D1D5DB;
}
.clear{
    clear:both;
}
.header_link_block{
    padding-top: 23px;
}
.burger{
    padding-top: 23px;
    float: right;
}
section.company_main{  
    padding: 39px;
    min-height: 780px;
    width: 1920px;
    background: url('../img/XXL 2.jpg') center  no-repeat;
    background-position-y: 136px ;
   
}
.block_title{
text-align: center;
}
h2.subheader{
    margin-top: 45px;
    color: #0F6;
    font-size: 60px;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 140%;
    text-transform: uppercase;
}
h2.subheader_exp{
    margin-left: 84px;
    margin-top: 14px;
    color: #0F6;
    font-size: 60px;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 140%;
    text-transform: uppercase;
}
h3.subheader_company{
    float: left;
    margin-top: 14px;
    font-size: 60px;
    font-family: Montserrat;
    font-weight: 800;
    line-height: 140%;
    text-transform: uppercase;
    color:#FFF
}
.company_descr{
    float: left;
    margin-left: 28px;
    width: 360px;
    color: #FFF;
    font-size: 18px;
    font-family: Montserrat;
    line-height: 140%;
}
.company_descr .link_consultation{
    margin-top: 30px;
}
.company_descr .link_consultation a{
    color:#FFF;
}