.white{
    background: none;
}
.Welcome.white{
    min-height: 152px;
a{
    color:$main-color;
}
.wrapper_dropdown button{
    color: $main-color;
}
.title.black{
    color: $main-color;
}
.email{
    color:$main-color;
}
}
